*{
  box-sizing: border-box;
  margin: 0;
  /* background-color: aqua; */
}

body{
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
section{
  display: block
}
#Home {
  color: white;
  width: 100%;
  height: 660px;
  background-image: url(../Images/events-heavenly-header.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: 100% 100%; */
  background-size: cover;
  color: white;
  position: relative;
}


.HomeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 46, 51 , 0.6);
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.leftMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  width: 250px;
  display: flex;
  flex-direction: column;
  /* display: none; */
  padding-inline: 2%;
}

.leftMenu a{
  /* margin: 5%; */
  padding: 8%;
  text-decoration: none;
  color:white;
  text-align: left;;
  font-size: 15px;
}

/* .leftMenu a.closebtn {
color:white;
font-size: 50px;
} */
.home-content{
  /* background-color: blanchedalmond; */
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: margin-left .5s;
  padding: 16px;

}
.openNav {
  font-size:30px;
  cursor:pointer;
  display: flex;
  flex-direction: column;
  /* align-self: flex-start;
  justify-content: start; */
  /* background-color: aquamarine; */
  width: 100%;
  text-align: start;

}

.openNav .icon{
  font-size:30px;
  cursor:pointer;
  display: flex;
  /* flex-direction: column; 
  background-color: aquamarine;
  width: 100%;  */
  text-align: start;
  align-self: flex-start;
  justify-content: start; 
}


/* .sidenav {
  width: 250px;
} */


.leftMenu a.closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  padding: 20px 8px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  color: white;
  /* left:-100% */
  /* right: 25px; */
  
  /* margin-left: 50px; */
  /* width: 20px; */
  /* background-color: rgb(250, 231, 215); */
}
/* .closebtn */
/* 
.sidenav a.closebtn {
  padding: 20px 8px 20px 32px;
  text-decoration: none;
  font-size: 250px;
  color: #818181;
  display: block;
  transition: 0.3s;
  color: white;
} */

/* a{
  background-color: transparent;
} */

/* .sidenav a {
  padding: 20px 8px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  color: white;
  background-color: aqua;
} */

.leftMenu a:hover{
  color: brown;

}

/* .leftMenu a.closebtn{
  color: blue;

} */

/* ====== According ========== */
#sliderDown{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 100px auto;
  width: 50%;
}

#sliderDown div {
  padding: 10px;
  background-color: #ccc;
  display: block;
  /* margin-left: 30px; */
 text-align: center;
  font-size:12px; 
  margin:10px;
}

#sliderDown h3 {
  margin: 0; 
  background-color: rgba(214, 46, 51 , 0.6);
  cursor: pointer;
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  /* font-size: 1.75rem; */

  padding: 10px;
  cursor: pointer;
  color: white;
}

.text-center {
  text-align: center !important;
}

 #sliderDown .inner {
  /* display: none; */
  /* background-color: aqua; */
}


/* ===========counter ========== */

.tim {
  padding: 50px;
  border: 1px solid #FFF;
  font-weight: 500;
  font-size: 30px;
}

#count {
  background-image: url(../Images/invitation-2508607__340.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: relative;
  height: 330px;
  margin:20px;
  /* top:0; */

}
#count .count-overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 100%;
  background-color: rgba(214, 46, 51 , 0.6);
  color: white;
}
/* .container {
  padding: 100px 0px;
  max-width: 1140px;
} */

.social-list {
  margin-top: 60px;
  color: #777;
  
}
.social-list .icon {
  margin-right: 10px;
  border: 1px solid #999999;
  width: 30px;
  height: 30px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
}
/* 
.icon {

} */