* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #1e202b;
}

h1 {

    font-size: 1.1428571429em;
}

.navbar small {
    color: #bfc1c8;
    font-size: 0.7142857143em;
}

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #009ad8;
    border-color: #009ad8;
}

.nav-link {
    transition: all 0.5s;
    border-radius: 30px;
    border: 2px solid transparent;
}

.nav-link:focus,
.nav-link:hover {
    color: #009ad8;
    border-color: #009ad8;
}


.hero {
    background: url("../images/banner.png"), #1e202b;
    height: 80vh;
    background-repeat: no-repeat;
}

#search_input {
    background-color: #1e202b;
    border: 0;
}

.form-control:focus {
    background-color: #1e202b;
    box-shadow: 0 0 0 .25rem transparent;

}

#search_input::placeholder {
    color: rgb(117, 117, 117);
}

.search_area .btn {
    padding-inline: 40px;
    top: 0;
    right: 20px;
    top: 55px;
}

.footer {
    background-color: #262936;
}

.card {
    background-color: #262936;
    min-height: 345.797px;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.1);
}

.card {
    color: rgb(191, 193, 200);
    background-color: #323544;
}

.card-body h2 {
    font-size: 4rem;
}

.card-body .custom {
    color: #009ad8;
}

.sec_card {
    background-color: rgb(38, 41, 54);
}


#nextDay_card .card{
    background-color:#1e202b;
}
.subscribe_input input {
    background-color: #1e202b;
    border: 0;
}

.subscribe_input input::placeholder {
    color: rgb(117, 117, 117);
}

.subscribe_input .btn {
    right: 10px;
    top: 8px;
}

.btn_subscribe,
.btn_subscribe:hover {
    background-color: #009ad8;
}

.footer p {
    color: rgb(191, 193, 200);
}

.footer li {
    background-color: #1e202b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer i {
    color: rgb(0, 154, 216);
}